# Ignore node_modules in any directory
node_modules/

# Ignore Python virtual environment
**/venv/

# Ignore Python compiled files
**/__pycache__/

# Ignore logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore editor-specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Ignore any local configuration specific to your environment
.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# Ignore package-lock.json for npm
package-lock.json

# Ignore yarn.lock for Yarn
yarn.lock

# Ignore dependencies
.pnp.js
.pnp.cjs
.pnp.mjs

# Ignore macOS specific files
.DS_Store

# Ignore any secrets or sensitive information
secrets.json
passwords.txt
api_keys.json